.flex_header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &_title {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
  }
}

.record_item {
  font-size: 18px;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  letter-spacing: 1px;
}
