.msg {
  height: calc(100% - 60px);
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 1rem;
  &_list {
    margin: 0;
    padding: 0;
  }
  &_item {
    margin-bottom: 0.5rem;
    color: #fff;
    word-break: break-word;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: flex-start;
    height: fit-content;
    justify-content: flex-start;
    width: 100%;
    &_wrapper {
      width: 75%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }
    &_content {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 6px;
      &_name {
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 14px;
      }
      &_msg {
        padding: 0.5rem;
        background-color: #444444;
        border-radius: 8px;
        font-size: 14px;
        width: fit-content;
        text-align: justify;
        &_file {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: nowrap;
          
      
          &_info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 0.5em;
            gap: 0.5em;
            h4{
              margin: 0;
            }
            p{
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }
  }
  &_item__remote {
    margin-bottom: 0.5rem;
    color: #fff;
    word-break: break-word;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: flex-start;
    height: fit-content;
    justify-content: flex-end;
    width: 100%;
  }
}

.tool {
  padding-top: 12px;
  height: fit-content;
}
