.controls {
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  &_left {
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
  &_right {
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.setting_box{
  margin: 16px 0;
  width: 100%;
}

.setting_container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 0px;
  &_footer{
    position: absolute;
    bottom: 0;
    padding: 8px;
    margin: 0;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
}