.controls{
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    &_left{
        width: calc(100% - 80px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &_right{
        height: 100%;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}