.container {
    padding: 24px;
    background-color: #000;
    min-height: 100vh;
    overflow: scroll;
}

.table_header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}