@import 'antd/dist/reset.css';

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  background-color: #111;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  padding: 1.5rem 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--lk-bg);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

footer a,
h2 a {
  color: #ff6352;
  text-decoration-color: #a33529;
  text-underline-offset: 0.125em;
}

footer a:hover,
h2 a {
  text-decoration-color: #ff6352;
}

h2 a {
  text-decoration: none;
}

/* basic style for <a> link */
.basic_link {
  color: #22ccee;
  text-decoration-line: none;
  font-weight: 400;
  transition: all 0.3s ease-in;
}

.basic_link:hover {
  color: #50defa;
}

.header {
  max-width: 500px;
  padding-inline: 2rem;
}

.header > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.header > h2 {
  font-family: 'TWK Everett', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 144%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.ant-switch:hover:not(.ant-switch-disabled) {
  background: #787878;
}
.ant-slider .ant-slider-rail {
  background: #787878;
}

.flex_box {
  display: inline-flex;
  align-items: center;
  justify-items: space-between;
  /* flex-direction: column; */
}

:where(.css-dev-only-do-not-override-fx2ox2).ant-pagination
  .ant-pagination-disabled
  .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-fx2ox2).ant-pagination
  .ant-pagination-disabled:hover
  .ant-pagination-item-link {
  color: #fff;
}

.ant-tabs-content-holder {
  height: 100%;
}

/* .ant-collapse-header {
  padding: 8px !important;
} */

:where(.css-dev-only-do-not-override-fx2ox2).ant-dropdown .ant-dropdown-menu {
  background-color: #1e1e1e;
  color: #fff;
}

.controls_audio_toggle {
  .ant-select-selector {
    background-color: #1e1e1e;
    color: #fff;
  }
}

.ant-input-data-count {
  color: #fff !important;
}

.lk-media-device-select [data-lk-active='true'] > .lk-button {
  background-color: #22ccee !important;
}

.lk-button[data-lk-source='screen_share'][data-lk-enabled='true'] {
  background-color: #22ccee !important;
}

.lk-disconnect-button {
  color: #d92d20 !important;
  border: 1px solid #d92d20 !important;
  transition: all 0.3s ease-in-out !important;
}

.lk-disconnect-button:hover {
  color: #fff !important;
  background-color: #d92d20 !important;
}

.video_container_wrapper {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.lk-pagination-control {
  z-index: 1111 !important;
}

.vocespace_button {
  background-color: #333;
  border: none;
  display: inline-flex;
  gap: 6px;
  border-radius: 6px;
  padding: 4px 8px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-wrap: nowrap;
}

.vocespace_button_text {
  background-color: transparent;
  border: none;
  display: inline-flex;
  gap: 6px;
  border-radius: 6px;
  padding: 4px 8px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.vocespace_button_text:hover {
  background-color: #22ccee;
  color: #fff;
}

.vocespace_button:hover {
  background-color: #22ccee;
  color: #fff;
}

.ant-collapse-header-text {
  height: fit-content;
  display: flex;
  align-content: center;
  align-items: center;
}

.ant-modal-close-x {
  color: #8c8c8c;
}
.ant-picker-clear {
  color: #8c8c8c !important;
}

.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background-color: #22ccee !important;
}
