.main {
  position: relative;
  display: grid;
  gap: 1rem;
  justify-content: center;
  place-content: center;
  justify-items: center;
  overflow: auto;
  flex-grow: 1;
}

.vs_main {
  &_tabs {
    width: 420px;
    border: 1px solid #ffffff26;
    border-radius: 6px;
  }
}

.common_tab {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  & > p {
    font-size: 16px;
    margin: 0px 8px;
    text-align: center;
  }
  &_con_form {
    width: 100%;
    padding: 8px;
    height: fit-content;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &_footer {
    padding: 8px;
    &_passphrase {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 12px;
      margin: 0;
    }
  }
}
