.pre_join {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: space-around;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  flex-direction: column;
  padding: 36px;
  &_header {
    width: 100%;
    height: fit-content;
    & > h1 {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
  }
  &_main {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &_device {
      border-radius: 16px;
      border: 2px solid #ccc;
      max-width: 1280px;
      min-width: 720px;
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px;
      &_tool {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
      }
      &_left {
        height: fit-content;
        width: calc(50% - 24px);
        display: flex;
        align-items: space-between;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 12px;
        div {
          width: 100%;
        }
        header {
          width: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;
        }
      }
      &_right {
        height: 100%;
        width: calc(50% - 24px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 12px;
        &_video {
          overflow: hidden;
          height: 46%;
          width: 100%;
          border: 2px dashed #ccc;
          &_empty {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            background-color: #cccccc10;
            flex-direction: column;
            gap: 12px;
            p {
              width: 100%;
              text-align: center;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    gap: 48px;
  }
}

.remove_bg {
  background: #919191;
}

.common_space {
  margin: 12px 0px;
}

.adjust_settings {
  width: 100%;
  margin: 24px 0;
}

.settings_reset {
  width: 40%;
  max-width: 320px;
  font-size: 16px;
  padding: 0.62rem 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.settings_reset:hover {
  filter: brightness(1.2);
}
