.view {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: nowrap;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  &__lang_select{
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  &__video {
    overflow: hidden;
    height: auto;
    max-height: 280px;
    width: min(100%, 448px);
    aspect-ratio: 16/10;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 8px;
    &__placeholder {
      height: auto;
      width: 100%;
      aspect-ratio: 16/10;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      & > * {
        height: 70%;
      }
    }
  }
  &__controls {
    width: min(100%, 448px);
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: fit-content;
    &__group {
      // width: 50%;
      height: 44px;
      flex-grow: 1;
      width: 100%;
      &_volume{
        width: 100%;
        height: fit-content;
        background-color: #1E1E1E;
        padding: 1rem;
        border-radius: 8px;
        &__button{
          width: 100%;
          background-color: #1f8cf9;
          padding: 0.8rem;
          transition: all 0.3s ease-in-out;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          &:hover {
            filter: brightness(1.1);
          }
        }
        &__header{
          width: 100%;
          display:inline-flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0.5rem;
          &__left{
            display:inline-flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.5rem;
          }
        }
      }
    }
    &__toggle {
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
    }
    &__form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      input{
        width: 100%;
      }
      &__button {
        width: 100%;
        background-color: #1f8cf9;
        padding: 0.8rem;
        transition: all 0.3s ease-in-out;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          filter: brightness(1.1);
        }
      }
    }
  }
}

// @media screen and (max-width: 480px) {
//   .view {
//     &__controls{
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       flex-wrap: wrap;
//       &__group {
//         height: 44px;
//         flex-grow: 1;
//         width: 100%;
//       }
//     }
//   }
// }