.wrapper{
    height: 52px;
    width: 100%;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    transition: all 0.3s ease-in-out;
    &:hover{
        filter: brightness(1.2);
    }
    &_info{
        height: fit-content;
        width: max-content;
        max-width: 160px;
        text-align: left;
        font-size: 14px;
    }
}