.container{
    height: 100%; 
    width: 100%;
    display: inline-flex;

    &_left{
        height: 100%;
        width: 20%;
        min-width: 240px;
        max-width: 280px;
        border-right: 1px solid #ffffff26;
        box-sizing: border-box;
        &_rooms{
            padding: 8px;
            height: 50%;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 12px;
            border-bottom: 1px solid #ffffff26;
            box-sizing: border-box;
        }
        &_members{
            padding: 8px;
        }
    }
    &_main{
        height: 100%;
        width: 80%;
        min-width: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        header{
            height: 60px;
            width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 12px;
            border-bottom: 1px solid #ffffff26;
        }
        main{
            height: calc(100% - 120px);
            width: 100%;
        }
        footer{
            height: 60px;
            padding: 0 12px;
            width: 100%;
        }
    }
    &_right{
        height: 100%;
        width: 30%;
        min-width: 200px;
        max-width: 300px;
        border-left: 1px solid #ffffff26;
        box-sizing: border-box;
        &_participants{
            padding: 8px;
            height: 40%;
            width: 100%;
            border-bottom: 1px solid #ffffff26;
        }
        &_tools{
            height: 60%;
            width: 100%;
        }
    }
}

.collapse_wrapper{
    width: 100%;
}

